@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using project.Models
@model List<QuizQuestion>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,400,700" rel="stylesheet">
    <title>Online Quiz</title>


</head>
<body>
    <div class="content">
        <header>
            <nav>
                @{
                    User u = ViewBag.User;
                }

                @if (u != null && u.Role == 2)
                {
                    <a class="nav-link float-left" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link float-left" asp-controller="Quiz" asp-action="Inketqua" asp-route-quizId="0" asp-route-userId="@u.UserId" asp-route-sort="0">Result</a>
                    <a class="nav-fancy-link float-right" asp-controller="Home" asp-action="Logout">Logout </a>
                    <a class="nav-fancy-link float-right" asp-controller="Home" asp-action="Login">Hello @u.Username</a>

                }
                else if (u != null && u.Role == 1)
                {
                    <a class="nav-link float-left" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link float-left" asp-controller="Quiz" asp-action="Inketqua" asp-route-quizId="0" asp-route-userId="@u.UserId" asp-route-sort="0">Result</a>
                    <a class="nav-link float-left" asp-controller="Quiz" asp-action="ManageQuiz">Mangae Quiz</a>
                    <a class="nav-fancy-link float-right" asp-controller="Home" asp-action="Logout">Logout </a>
                    <a class="nav-fancy-link float-right" asp-controller="Home" asp-action="Login">Hello @u.Username</a>
                }
                else
                {
                    <a class="nav-link float-left" asp-controller="Home" asp-action="Index">Home</a>

                    <a class="nav-fancy-link float-right" asp-controller="Home" asp-action="Login">Login/Register</a>
                }


            </nav>
        </header>
        <div>
            @* <div class="timer-container text-center float-right">
            <div class="timer-title">Time Left (sec)</div>
            <div class="timer" id="timer">
            </div>
            </div> *@

            <div class="quiz-grid">
                <h1 class="text-center top-bottom-padding heading"><span>@ViewBag.quizname</span></h1>
                <h3 class="text-center top-bottom-padding heading"><span>@ViewBag.sub</span></h3>




                
                    @foreach (var item in Model)
                    {
                        if (item.Quiz.CategoryId == 1)
                        {
                            <div class="flexbox flexbox-center-vertical quiz-question top-margin">
                                <audio controls>
                                    <source src="@item.Description" type="audio/ogg">
                                </audio>
                            </div>
                            <input type="hidden" name="quizId" value="@item.QuizId" />
                            <input type="hidden" name="datetime" value="@ViewBag.time" />
                        }
                        if (item.Quiz.CategoryId != 1)
                        {
                            <div class="flexbox flexbox-center-vertical quiz-question top-margin">
                                @item.Description
                            </div>
                            <input type="hidden" name="quizId" value="@item.QuizId" />
                            <input type="hidden" name="datetime" value="@ViewBag.time" />
                        }
                        @foreach (var answer in item.QuizAnswers)
                        {

                            <label class="question-option-container top-margin">

                                <span class="question-option">
                                    @answer.Description
                                </span>
                                <input type="radio" name="attemptedAnswerId_@answer.QuestionId" value="@answer.Id" class="default-radio">
                                @* <input type="hidden" name="attemptedQuestionId_@answer.QuestionId" value="@answer.QuestionId"> *@
                                <span class="custom-radio"></span>

                            </label>

                        }


                    }
                    @* <div>
                        <input type="submit" value="Save & Next" class="button float-right top-margin half-width" />
                    </div> *@
                

            </div>

        </div>
    </div>
    @* <script>
    window.onbeforeunload = function (event) {
    var confirmationMessage = 'Bạn có chắc chắn muốn rời khỏi trang này?';

    (event || window.event).returnValue = confirmationMessage;
    return confirmationMessage;
    };
    </script> *@
    @* <script>
    document.querySelectorAll('input[type="radio"]').forEach(function (radio) {
    radio.addEventListener('change', function (event) {
    localStorage.setItem(event.target.name, event.target.value);
    });

    // Kiểm tra nếu có trạng thái được lưu, chọn lại đáp án
    var selectedAnswer = localStorage.getItem(radio.name);
    if (selectedAnswer === radio.value) {
    radio.checked = true;
    }
    });
    </script> *@
</body>
</html>
